.CartCard {
	display: flex;
	flex: row;
	flex-wrap: nowrap;
	gap: 10px;

	&__Info {
		&_Btns {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

	img {
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
}
