.ProductCard {
	width: 300px;
	transition: 0.2s;
	// height: 400px;
	// border: 1px solid grey;

	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;

	&__Img {
		// width: 300px;
		height: 300px;
		object-fit: cover;

		&_Container {
			position: relative;
			font-size: 1.5rem;

			&_Heart {
				position: absolute;
				bottom: 10px;
				right: 10px;
				// background-color: white;
				color: red;
				// padding: 8px;
				// border-radius: 10px;
				// display: flex;
				// align-items: center;
				// justify-content: center;

				cursor: pointer;
			}
		}
	}

	&__Info {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	&:hover {
		box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
	}
}

a {
	text-decoration: none !important;
	color: inherit !important;
}
