.NavBar {
	z-index: 2;
	// display: flex;
	// justify-content: space-between;

	&__List {
		&_Links {
			display: flex;
			gap: 10px;
		}
	}
}

// a {
// 	text-decoration: none;
// 	color: inherit;

// 	&:visited {
// 		color: inherit;
// 		text-decoration: none;
// 	}
// }
